.breadcrumbs
  ul.breadcrumbs__list
    li.breadcrumbs__item
      a(href="#").breadcrumbs__link Главная
    li.breadcrumbs__item
      a(href="#").breadcrumbs__link Каталог
    li.breadcrumbs__item
      a(href="#").breadcrumbs__link Инструмент
    li.breadcrumbs__item
      a(href="#").breadcrumbs__link Перфораторы