// footer
footer.footer-wrap
	div.container
		.footer-second
			.footer-second__left
				.footer-second__logo
					.footer-second__logo-text Техномарт
				.footer-second__text г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8 +7 (812) 555-05-55
			.footer-second__right
				nav.footer-second__nav
					ul.footer-second__list
						li.footer-second__item
							a(href="#").footer-second__link Компания
						li.footer-second__item
							a(href="#").footer-second__link Новости
						li.footer-second__item
							a(href="#").footer-second__link Каталог
						li.footer-second__item
							a(href="#").footer-second__link Доставка
						li.footer-second__item
							a(href="#").footer-second__link Контакты
						li.footer-second__item
							a(href="#").footer-second__link Материалы
						li.footer-second__item
							a(href="#").footer-second__link Техника
						li.footer-second__item
							a(href="#").footer-second__link Инструменты
						li.footer-second__item
							a(href="#").footer-second__link Спецпредложения
		.footer
			.footer__left
				.footer__copyright 2010-2015 Компания Техномарт Все права защищены
			.footer__social-pos
				.footer-social
					ul.footer-social__list
						li.footer-social__item
							a(href="#").footer-social__link vk
						li.footer-social__item
							a(href="#").footer-social__link fb
						li.footer-social__item
							a(href="#").footer-social__link inst
			.footer__right
				.footer__feedback Обратная связь: mail@htmlacademy.ru
				.footer__developer Разработнао - htmlacademy.ru



script(src='/js/foundation.js' defer)
script(src='/js/main.js' defer)
