// footer
footer.footer-wrap
	.footer-second
		.container
			.footer-second__wrap
				.footer-second__left
					.footer-second__logo
						.footer-second__logo-text Техномарт
					.footer-second__adress г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8 +7 (812) 555-05-55
				.footer-second__right
					nav.footer-second__nav
						ul.footer-second__list
							li.footer-second__item
								a(href="#").footer-second__link Компания
							li.footer-second__item
								a(href="#").footer-second__link Новости
							li.footer-second__item
								a(href="#").footer-second__link Каталог
							li.footer-second__item
								a(href="#").footer-second__link Доставка
							li.footer-second__item
								a(href="#").footer-second__link Контакты
					nav.footer-second__second-nav
						ul.footer-second__second-list
							li.footer-second__second-item
								a(href="#").footer-second__second-link Материалы
							li.footer-second__second-item
								a(href="#").footer-second__second-link Техника
							li.footer-second__second-item
								a(href="#").footer-second__second-link Инструменты
							li.footer-second__second-item
								a(href="#").footer-second__second-link Спецпредложения
	.footer
		.container
			.footer__left
				.footer__copyright © 2010–2016 Компания «Техномарт» Все права защищены
			.footer__social-pos
				.footer-social
					ul.footer-social__list
						li.footer-social__item
							a(href="#").footer-social__link
								i.icon-vk.footer-social__icon
								span vk
						li.footer-social__item
							a(href="#").footer-social__link
								i.icon-facebook.footer-social__icon
								span fb
						li.footer-social__item
							a(href="#").footer-social__link
								i.icon-instagramm.footer-social__icon
								span inst
			.footer__right
				.footer__right-item 
					span Обратная связь:
					a(href="#") mail@htmlacademy.ru
				.footer__right-item
					span Разработнао -
					a(href="#") htmlacademy.ru



script(src='/js/foundation.js' defer)
script(src='/js/main.js' defer)
