header.header-wrap
  .header
    .container
      .header__logo
        .logo
          .logo__text Техномарт
        .header__input-wrap
          input(type="text").header__input
        .header__bookmarks Закладки: 0
        .header__basktet Корзина: 10
        button.header__checkout Оформить заказ
  .header-second
    .container
      .header-second__text Интернет-магазин строительных материалов и инструментов для ремонта
      .header-second__contcat
        .header-second__phone-number +7 (812) 555-05-55
        .header-second__adress г.Санкт-Петербург, ул. Б. Конюшенная, д. 19/8
      .header__user
        .user-block
          .user-block__name Равшан Джамшутович
          a(href="#").user-block__my-orders Мои заказы
          a(href="#").user-block__my-cabinet Личный кабинет
  .container
    include ./navigation.pug