nav.navigation
  ul.navigation__list
    li.navigation__item
      a.navigation__link(href='/') Главная
    li.navigation__item
      a.navigation__link(href='#') Компания
    li.navigation__item
      a.navigation__link(href='#') Каталог
    li.navigation__item
      a.navigation__link(href='#') Новости
    li.navigation__item
      a.navigation__link(href='№') Спецпредложения
    li.navigation__item
      a.navigation__link(href='№') Доставка
    li.navigation__item
      a.navigation__link(href='№') Контакты


