// variables
$white: #f6f6f6;
$blue: #33c1e3;
$red: #e85f61;
$gray: #727272;
$dark-gray: #414141;

// layout
@import "_misc/fonts";
@import "_misc/mixins";
@import "_misc/adjustment";
@import "_misc/icon";

// styles
@import "common/header";
@import "common/navigation";
@import "common/button";
@import "common/footer";

// pages
@import "pages/index";
