@font-face {
  font-family: 'PT Sans Narrow';
  src: local('PT Sans Narrow'), local('PTSans-Narrow'),   url('../fonts/ptsansnarrow.woff2') format('woff2'),   url('../fonts/ptsansnarrow.woff') format('woff'),   url('../fonts/ptsansnarrow.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow Bold';
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'),   url('../fonts/ptsansnarrowbold.woff2') format('woff2'),   url('../fonts/ptsansnarrowbold.woff') format('woff'),   url('../fonts/ptsansnarrowbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum Regular';
  src: local('Cuprum Regular'), local('Cuprum-Regular'), url('../fonts/cuprum.woff2') format('woff2'), url('../fonts/cuprum.woff') format('woff'), url('../fonts/cuprum.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Cuprum Italic';
  src: local('Cuprum Italic'), local('Cuprum-Italic'), url('../fonts/cuprumitalic.woff2') format('woff2'), url('../fonts/cuprumitalic.woff') format('woff'), url('../fonts/cuprumitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Cuprum Bold';
  src: local('Cuprum Bold'), local('Cuprum-Bold'), url('../fonts/cuprumbold.woff2') format('woff2'), url('../fonts/cuprumbold.woff') format('woff'), url('../fonts/cuprumbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Cuprum Bold Italic';
  src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'), url('../fonts/cuprumbolditalic.woff2') format('woff2'), url('../fonts/cuprumbolditalic.woff') format('woff'), url('../fonts/cuprumbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}


